*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f5f5f5;
  color:#111;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:0.3s;
}

.container{
  width:90%;
  max-width:450px;
  text-align:center;
}

h1{
  margin-bottom:20px;
}

.search-box{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

.search-box input{
  flex:1;
  padding:12px;
  border:none;
  border-radius:10px;
}

.search-box button{
  padding:12px 18px;
  border:none;
  border-radius:10px;
  background:black;
  color:white;
  cursor:pointer;
}

.card{
  background:white;
  padding:20px;
  border-radius:20px;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.card img{
  width:120px;
  height:120px;
  object-fit:cover;
  border-radius:50%;
  margin-bottom:15px;
}

#team{
  color:gray;
  margin-bottom:20px;
}

.stat{
  margin:20px 0;
  text-align:left;
}

.bar{
  width:100%;
  height:10px;
  background:#ddd;
  border-radius:20px;
  overflow:hidden;
  margin:8px 0;
}

.fill{
  height:100%;
  width:0%;
  background:#00b894;
}

.assists{
  background:#0984e3;
}

.matches{
  background:#6c5ce7;
}

.theme-btn{
  margin-top:20px;
  padding:12px 20px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

.dark{
  background:#111;
  color:white;
}

.dark .card{
  background:#1e1e1e;
}

#playerBadge{
  margin-top:10px;
  color:gold;
  font-size:22px;
  text-align:center;
}